@model List<KidKinder.Entities.Student>
@{
    ViewBag.Title = "ParentList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="card">
                    <div class="card-header">
                        <h5>Veli Tablosu</h5>                       
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Anne</th>
                                        <th>Baba</th>
                                        <th>Yakını</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Çocuklar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Veli1</td>
                                            <td>@item.Veli2</td>
                                            <td>@item.Veli3</td>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.NameSurname</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

